/* Home */
.header {
  padding: 20px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: flex-end;
}
.menu a{
 text-transform: uppercase;
 text-decoration: none;
 cursor: pointer;
}
.inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  background: var(--cor-12);
  border: 1px solid var(--cor-p1);
  outline-offset: -3px;
  position: relative;
  flex: 0 0 90px;
}
.quadrinhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  background: var(--cor-12);
  border: 1px solid var(--cor-p1);
  outline-offset: -3px;
  position: relative;
  flex: 0 0 90px;
}
.contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  background: var(--cor-12);
  border: 1px solid var(--cor-p1);
  outline-offset: -3px;
  position: relative;
  flex: 0 0 90px;
}
@media (max-width: 450px) {
  .menu {
    justify-content: center;
  }
}

/* Introduçao */
.main-bg {
  height: 707px;  
  background-image: url(../media/img/marvel2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .titulo-principal {
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
}
.main .quadrado {
  width: 280px;
  height: 56px;
  background: var(--cor-13);
  margin: 0 auto;
}
.main .titulo-secundario {
  display: block;
  padding: 10px;
  text-align: center;
  background: var(--cor-13);
  text-transform: uppercase;
  margin-top: 75px;
}
.main .border {
  width: 238px;
  height: 2px;
  background: var(--cor-p1);
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

/* Herois */
.herois-bg {
  background: var(--cor-13);
}
.herois {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px 36px;
  box-sizing: border-box;
  max-width: 730px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.herois .container-img  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #F39C11;
  margin: 0 auto;
}
.herois .container-img-1  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #C1382B;
  margin: 0 auto;
}
.herois .container-img-2  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #323232;
  margin: 0 auto;
}
.herois .container-img-3  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #505050;
  margin: 0 auto;
}
.herois .container-img-4  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #8D43AC;
  margin: 0 auto;
}
.herois .container-img-5  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #55A148;
  margin: 0 auto;
}
.herois-bg .herois p {
  text-align: center;
  text-transform: uppercase;
}
