/* Home */
.header {
  padding: 20px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: flex-end;
}
.menu a{
 text-transform: uppercase;
 text-decoration: none;
 cursor: pointer;
}
.inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  background: var(--cor-12);
  border: 1px solid var(--cor-p1);
  outline-offset: -3px;
  position: relative;
  flex: 0 0 90px;
}
.quadrinhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  background: var(--cor-12);
  border: 1px solid var(--cor-p1);
  outline-offset: -3px;
  position: relative;
  flex: 0 0 90px;
}
.contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  background: var(--cor-12);
  border: 1px solid var(--cor-p1);
  outline-offset: -3px;
  position: relative;
  flex: 0 0 90px;
}
@media (max-width: 500px) {
  .menu {
    justify-content: center;
  }
}

/* Introduçao */
.main-bg {
  height: 707px;  
  background-image: url(../media/img/marvel2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .titulo-principal {
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
}
.main .quadrado {
  width: 280px;
  height: 56px;
  background: var(--cor-13);
  margin: 0 auto;
}
.main .titulo-secundario {
  display: block;
  padding: 10px;
  text-align: center;
  background: var(--cor-13);
  text-transform: uppercase;
  margin-top: 75px;
}
.main .border {
  display: block;
  width: 238px;
  height: 2px;
  background: var(--cor-p1);
  border-radius: 5px;
  margin: 0 auto;
}
@media (max-width: 760px) {
  .main .titulo-secundario {
    margin-top: 125px;
  }
}
@media (max-width: 500px) {
.main .titulo-principal {
  margin-top: 40px;
}
.main .quadrado {
  width: 244px;
  height: 62px;
}
.main .titulo-secundario {
  margin-top: 175px;
}
.main .border {
  width: 210px;
  height: 2px;
}
}
/* Herois */
.herois-bg {
  background: var(--cor-13);
}
.herois {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 36px 36px;
  max-width: 730px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.herois .container-img  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #F39C11;
  margin: 0 auto;
}
.herois .container-img-1  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #C1382B;
  margin: 0 auto;
}
.herois .container-img-2  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #323232;
  margin: 0 auto;
}
.herois .container-img-3  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #505050;
  margin: 0 auto;
}
.herois .container-img-4  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #8D43AC;
  margin: 0 auto;
}
.herois .container-img-5  {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 260px;
  background: #55A148;
  margin: 0 auto;
}
.herois-bg .herois p {
  text-align: center;
  text-transform: uppercase;
}


/* História */
.historia-bg {
  background: var(--cor-13);
}
.historia {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.container-historia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 850px;
  height: 60px;
  background: var(--cor-p2);
  border: 1px solid var(--c13, #000);
  margin-top: 84px;
}
.titulo-historia {
  padding-left: 24px;
  text-transform: uppercase;
}
.container-artigo {
  width: 850px;
  height: auto;
  background: var(--cor-p1);
}
.container-artigo p + p {
  margin-top: 36px;
}
.paragrafo {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  text-align: justify;
}
.paragrafo:last-child {
  margin-bottom: 20px;
}
/* .container-artigo img {
  float: left;
  width: 33%;
} */

@media (max-width: 450px) {

.main .titulo-principal {
  margin-top: 40px;
}
.container-historia {
  justify-content: center;
  align-items: center;
}
.titulo-historia {
  padding-left: 0px;
}
.container-artigo {
  background: var(--cor-p1);
}
}

/* Footer */
.rodape-bg {
  background: var(--cor-13);
}
.rodape {
  margin: 0 auto;
}
.footer-texto{
  padding-top:100px;
  text-align: center;
  padding-bottom: 16px;
}