.font-xs {
  font: 400 0.75rem/0.83 "Montserrat", sans-serif;
}
.font-x-h {
  font: 500 0.75rem/1.25 "Montserrat", sans-serif;
}
.font-s {
  font: 500 1rem/1.5 "Montserrat", sans-serif;
}
.font-l {
  font: 500 1rem/1.56 "Montserrat", sans-serif;
  letter-spacing: 0.24px
}
.font-xl {
  font: 500 1.25rem/0.83 "Montserrat", sans-serif;
  letter-spacing: 0.3px;
}
.font-xxl {
  font: 700 6.25rem/0.83 "Montserrat", sans-serif;
  letter-spacing: 1.5px; 
}  
@media (max-width: 760px) {
  .font-xxl {
    font-size: 4rem;
  }  
}
@media (max-width: 500px) {
  .font-xl {
    font-size: 1.050rem;
  }
  .font-xxl {
    font-size: 2rem;
  }  
}